@font-face {
    font-family: Norse-Bold;
    src: url('/home/adam/.local/share/fonts/Norse-Bold.otf');
  }

.contents {
    min-height: 100vh;
    display: flex;
}

.left-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-position: center center;
    background-size: cover;
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    margin-top: 150px;
    background-color: rgb(39, 39, 39);
    opacity: 0.7;
    color: white;
    font-family: Norse-Bold;
    font-size: 85px;
}

.banner img {
    height: 100px;
}

.left-image p {
    color: white;
    font-size: 0.7rem;
}

.left-image a {
    color: white;
    font-size: 1rem;
}

.right-text {
    display: flex;
    flex-direction: column;
}

